@using System.Data
@model DataSet

<div class="col-xl-6">
    <div class="card">
        <div class="container">
            <div id="pdfpreview" class="embed-responsive embed-responsive-4by3">
                @*<object data="../Downloads/client_server-FIFO.pdf" type="application/pdf" class="h-100" width="100%">
                        If you are unable to view file, you can download from
                        <a href="../Downloads/client_server-FIFO.pdf">here</a> or download
                    </object>*@
            </div>
        </div>
    </div>
</div>
