
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- row -->
<div class="container-fluid" id="somediv">
    @*@{Html.RenderAction("vwDashboard", "Dashboard"); }*@
</div>